{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "brace-style": [2, "stroustrup"],
    "comma-dangle": 0,
    "consistent-return": 0,
    "curly": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "indent": [2, 2, {"VariableDeclarator": {"var": 2, "let": 2, "const": 3}}],
    "no-loop-func": 0,
    "no-param-reassign": 0,
    "one-var": 0,
    "padded-blocks": 0
  }
}
